<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
    <h1><%= title %></h1>
    <p>Welcome to User Page!</p>
    <tr>
        <h2>Hello <%=userid%> !</h2>
    </tr>
    <tr>
        <h5 id="pictureInfo"> Picture : </h5>
        <img id="loadPicture" width="0" height="0">
    </tr>
    <form id="uploader" enctype="multipart/form-data" action="/user/upload" method="post">
        <input type="file" name="inputImage" multiple />
        <input type="button" name="submit" id="loadbutton" value="Upload"/>
    </form>
    <input type="button" id="logout" value="log out">
    <form action="/board" method="get">
        <input type="submit" id="boardpage" value="board page">
    </form>
    <script>
        document.getElementById('logout').addEventListener('click', () => {
            const data = {userid:'<%=userid%>', actiontype:'logout'};
            const xhr = new XMLHttpRequest();
            xhr.responseType = 'text';
            xhr.addEventListener('load', () => {
                window.history.pushState(data, 'title changed!', '/');
                document.body.innerHTML = xhr.responseText;
            });
            xhr.open('POST', '/user', true);
            xhr.setRequestHeader('Content-type','application/json');
            xhr.send(JSON.stringify(data));
        });
    </script>
</body>
</html>

